spring:
  main:
    banner-mode: "off"
    language-default: "fr"

  # configuration base de données
  # en local utiliser `localhost:5433`, en docker utiliser le nom du service `postgres:5432`
  # attention pour tester en local : vous devez lancer une instance de la base associée à la datasource ci-dessous
  # en local username et password hardcodés sinon passé par variable d'environnement en docker
  datasource:
    url: jdbc:postgresql://postgres:5432/keywordsdb_dev
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

# queue broker  
keywords-poc:
  rabbitmq:
    in:
      consumerQueueName: "qchunks"

# monitoring
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics
  endpoint:
    metrics:
      access: READ_ONLY
    prometheus:
      access: READ_ONLY
    health:
      show-details: when-authorized
    info:
      access: READ_ONLY

# configuration serveur
server:
  port: 8081
  address: 0.0.0.0
  servlet:
    context-path: /
    encoding:
      enabled: true
      force: true
      charset: UTF-8
  tomcat:
    threads:
      max: 200
    connection-timeout: 5s

info:
  app:
    name: "extract-service"
    description: "Service d'extraction des mots clés à partir de chunks"
    version: "0.0.1-SNAPSHOT"  
  author: "Fabrice MAUPIN"
  profile: ${spring.profiles.active:default}
