spring:
  main:
    banner-mode: "off"

# paramètres queues
keywords-poc:
  rabbitmq:
    in:
      consumerQueueName: "qchunks"

# monitoring
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics
  endpoint:
    metrics:
      access: READ_ONLY
    prometheus:
      access: READ_ONLY
    health:
      show-details: always
    info:
      access: READ_ONLY

# configuration serveur
server:
  port: 8081
  servlet:
    context-path: /
  tomcat:
    threads:
      max: 200
    connection-timeout: 5s

info:
  app:
    name: "extract-service"
    description: "Service d'extraction des mots clés à partir de chunks"
    version: "0.0.1-SNAPSHOT"  
  author: "Fabrice MAUPIN"
  profile: ${spring.profiles.active:default}
